In [1]:
import random
l = [97,110,119,99]
l2 = [chr(value) for value in l]
print(l2)

['a', 'n', 'w', 'c']

In [2]:
import random

l2 = [random.randint(10,100) for value in range(5)]
print(l2)

[25, 59, 89, 63, 73]

In [15]:
l1 = [1,2,3]
l2 = [10,20,30]
l3 = [100,200,300]

l5 = []

In [16]:
l5 =  [list(value) for value in zip(l1,l2,l3)]
print(l5)

[[1, 10, 100], [2, 20, 200], [3, 30, 300]]

In [ ]:
list compression when operations are same on each or every element

In [26]:
import timeit 
t = timeit.timeit(stmt ="""
l2 = [(value**2) for value in range(1,100000)]
""",number = 1)
print(t)

0.05678514700002779

In [28]:
l = [10,15,20,25,30,35]
l2 = [value for value in l if value % 2 == 0]
print(l2)

[10, 20, 30]

In [29]:
l = ['abc',"abcde","zyzzy","rttyuqyq"]
l2 = [len(value) for value in l if len(value) > 3]
print(l2)

[5, 5, 8]

In [10]:
l = [60,97,110,119,110,123,130,122]

l2 = [chr(value) if ord('a') <= value <= ord('z') else chr(value - 26) for value in l if value >= 97]
print(l2)

['a', 'n', 'w', 'n', 'a', 'h', 'z']

In [7]:
l = [97,110,119,110,123,130,122]
l2 = []
for value in l:
    if value in range(ord('a'),ord('z')+1):
        l2.append(chr(value))
    else:
        l2.append(chr(ord('a')))
print(l2)

['a', 'n', 'w', 'n', 'a', 'a', 'z']

In [11]:
l = [(value1,value2) for value1 in range(5) for value2 in range(100,105)]
print(l)

[(0, 100), (0, 101), (0, 102), (0, 103), (0, 104), (1, 100), (1, 101), (1, 102), (1, 103), (1, 104), (2, 100), (2, 101), (2, 102), (2, 103), (2, 104), (3, 100), (3, 101), (3, 102), (3, 103), (3, 104), (4, 100), (4, 101), (4, 102), (4, 103), (4, 104)]

In [13]:
l = [[1,2,3],[4,5,6],[7,8,9]]
#l2 = [1,2,3,4,5,6,7,8,9]
l2 = [ val2 for val1 in l for val2 in val1]
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
l = [[1,2,3],[4,5,6],[7,8,9]]

l2 = [[value[index] for value in l] for index in range(len(l[0]))]
print(l2)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
# d ={1:1,2:4,3:9,4:16 .....10:100}

In [38]:
d2 = {key:key **2 for key in range(1,11)}
print(d2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
d2 = {chr(value):value for c}

In [39]:
d3 ={(key,key +9):0 for key in range(1,92,10)}
print(d3)

{(1, 10): 0, (11, 20): 0, (21, 30): 0, (31, 40): 0, (41, 50): 0, (51, 60): 0, (61, 70): 0, (71, 80): 0, (81, 90): 0, (91, 100): 0}

In [41]:
l ={10,20,25,30,40,45,33,39,67}
l2 = {value % 5 for value in l }
print(l2)

{0, 2, 3, 4}